.light {
    background-color: #ffffff;
    color: #000000;
    min-height: 100vh;
}

.dark {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
}

button {
    padding: 8px 12px;
    margin-top: 10px;
}